
<div class="footerClass">
<footer id="footerId">

 <div class="adresseLinksClass">
  <nav>
    <p id="AdresseHeaderId">Adresse</p>
    <p>Vej i Danmark 1</p>
    <p>1234 kommune</p>
    <p>Telefon: 0118 999 881 999 119 7253</p>
  </nav>
 </div>

  <div class="infoSectionClass">
    <nav>
      <p id="infoSectionHeaderId">Lidt info om os</p>
      <p>Bla Bla Bla</p>
    </nav>
  </div>

  <div class="quickLinksClass">
    <nav>
      <p id="quickLinksId">Quick Links</p>
      <a href="https://www.milliondollarcaffeine.com/order">Cuban Muscle Crisis</a>
    </nav>
  </div>

  <div class="contactClass">
    <nav>
      <p id="contactHeaderId">Kontakt</p>
      <p>Telefon: 0118 999 881 999 119 7253</p>
      <p>åbningstider</p>
      <p>Alle dage</p>
    </nav>
  </div>

  <div class="fillerClass">
    <p id="filler1">filler of space</p>
    <p>filler of space</p>
    <p>filler of space</p>
    <p>filler of space</p>
    <p>filler of space</p>
  </div>

</footer>
</div>

