

<!--Vi skal have noget her, som gemmer hvad brugeren har valgt
Vi skal også bruge dette, så når brugeren har valgt noget, og går frem og tilbage
fra order side, så skal de ikke komme ind på select page-->


<body>
<div class="selectorbox" (click)="navigateToCoffeeTypePage('Espressia-Eksklusivo')">
  <h1>Espressia Eksklusivo</h1>

  <div>
    Beskrivelse
  </div>


</div>
<div class="selectorbox" (click)="navigateToCoffeeTypePage('AromaÆstetik')">
  <h1>AromaÆstetik</h1>

  <div>
    HJÆLP ALEXANDER
  </div>


</div>
<div class="selectorbox" (click)="navigateToCoffeeTypePage('BaristaMaestro')">
  <h1>BaristaMaestro</h1>


  <div>
    Beskrivelse
  </div>



</div>
</body>
