

<!--Vi skal have noget her, som gemmer hvad brugeren har valgt
Vi skal også bruge dette, så når brugeren har valgt noget, og går frem og tilbage
fra order side, så skal de ikke komme ind på select page-->


<body>
<div class="selectorbox">
  <h1>Espressia Eksklusivo</h1>

  <div>
    Beskrivelse
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="navigateToOrderPage()">Espressia Eksklusivo les go</button>
  </div>

</div>
<div class="selectorbox">
  <h1>AromaÆstetik</h1>

  <div>
    HJÆLP ALEXANDER
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="navigateToOrderPage()">AromaÆstetik les go</button>
  </div>

</div>
<div class="selectorbox">
  <h1>BaristaMaestro</h1>


  <div>
    Beskrivelse
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="navigateToOrderPage()">BaristaMaestro les go</button>
  </div>


</div>
</body>
