<div class="adminpage">

  <h2>Kunde ordre</h2>

    <div class="adminOrderList">
      <table>
        <tr>
          <th>Caffe</th>
          <th>Kunde</th>
          <th>Tid</th>
          <th>Godkend/afvis</th>
        </tr>
        <tr>
          <th>Caffe americano x 1</th>
          <th>Alexander</th>
          <th>11:30</th>
          <th> <button mat-icon-button><mat-icon>done_outline</mat-icon></button> <button mat-icon-button><mat-icon>delete</mat-icon></button> </th>
        </tr>
        <tr>
          <th>Caffe sort x 1</th>
        </tr>
      </table>



    </div>





</div>
