<body>



<div class=coffeeInformation *ngIf="coffee">
  <h1>{{ coffee.name }}</h1>
  <p>{{ coffee.description }}</p>

  <div>
    <img src="{{ coffee.picture }}"  width="250" height="250" alt="">
  </div>


  <h2>Ingredients</h2>
  <ul>
    <!-- Ingredient.quantity skal fjernes (debug) -->
    <li *ngFor="let ingredient of coffee.ingredients">{{ ingredient.Name  }} {{ ingredient.StockQuantity}}

      <mat-checkbox [(ngModel)]="ingredient.checked"></mat-checkbox>

    </li>


  </ul>

  <div>
    <button (click)="addToCart()">Add to basket</button>


  </div>



</div>



</body>
