<body>



<div class=coffeeInformation *ngIf="coffeeCup | async as coffee">
  <h1>{{ coffee.name }}</h1>
  <p>{{ coffee.description }}</p>

  <div>
    <img src="{{ coffee.image }}"  width="250" height="250" alt="">
  </div>


  <h2>Ingredienser</h2>
  <ul>

    <li *ngFor="let ingredient of coffee.ingredients">
      {{ ingredient.name }}   <!--{{ ingredient.quantity }}{{MeasurementUnit[ingredient.measurementUnit]}}-->


    </li >

  </ul>

  <ul *ngIf="isBaristaMaestro">
    <h2>Vælg hvilken kage der skal med til din kaffe</h2>
    <li *ngFor="let cake of cakes | async">
      {{ cake.name }}
      <mat-radio-button value="{{cake}}"></mat-radio-button>

      <div>
        {{ cake.description }}
      </div>




    </li>

  </ul>

  <div>
    <button (click)="addToCart(coffee)" (click)="openDialog(template)" >Tilføj til kurv</button>


    <ng-template #template>
      <h3>Vil du forsætte eller afslutte bestilling?</h3>

      <div>
        <button mat-raised-button (click)="closeDialog()" >Fortsæt med at handle </button>
        <button mat-raised-button (click)="closeDialog()" routerLink="/Order">Gå til bestilling</button>
      </div>

    </ng-template>

  </div>




</div>



</body>
