<body>



<div class=coffeeInformation *ngIf="coffeeCup | async as coffee">
  <h1>{{ coffee.name }}</h1>
  <p>{{ coffee.description }}</p>

  <div>
    <img src="{{ coffee.image }}"  width="250" height="250" alt="">
  </div>


  <h2>Ingredients</h2>
  <ul>

   <!--
   Kan ikke lave det før vi har sat det op i API
   <li *ngFor="let ingredient of coffeeCupIngredients | async">
      {{ ingredient.ingredient }}
      <mat-checkbox [(ngModel)]="ingredient.che"></mat-checkbox>
    </li>-->




  </ul>

  <div>
    <button (click)="addToCart(coffee)">Add to basket</button>


  </div>



</div>



</body>
