
<div class="registerUserClass">
  <div class="registerUserBorderClass">

    <h2>Opret bruger</h2>

    <p>
    Udfylde felterne nede under for at oprette en bruger på Kaffe
    foreningens hjemmeside.
    </p>

    <form>
      <label id="userEmailText" for="email">Mail:</label>
      <input type="email" id="email" name="email"><br><br>

      <label id="userFirstName" for="UserFirstName">fornavn:</label>
      <input type="text" id="firstnam" name="firstName"><br><br>

      <label id="userLastName" for="userLastname">Efternavn:</label>
      <input type="text" id="LastName" name="lastName"><br><br>

      <label id="userAddress" for="userAddress">Adresse:</label>
      <input type="text" id="adress" name="address"><br><br>

      <label id="userPNumber" for="userPNumber">Telefon nummer:</label>
      <input type="text" id="pNumber" name="pNumber"><br><br>

      <label id="userPasswordText" for="userPasswordText">Password:</label>
      <input type="password" id="password" name="password"><br><br>
    </form>


    <div class="createUserButtonClass">
      <button id="createLogindButtonId" mat-raised-button color="primary" > Opret bruger</button>
    </div>


  </div>
</div>
