


<div align="center">
  <img src="assets/pictures/kaffeforeninglogotext.png" alt="Kaffeforening Image">

    <h1>Kaffe Foreningen brings together three distinct coffee shops — Espressia Eksklusivo, AromaÆstetik, and BaristaMaestro. Each shop represents a unique coffee experience, curated by passionate individuals.
        Espressia Eksklusivo, led by the adventurous Arturo, is a haven for those exploring the unknown in the coffee world. AromaÆstetik, under designer Isabella, transforms coffee into visual masterpieces. Meanwhile, BaristaMaestro, guided by traditionalist Carlos, offers a classic and authentic coffee experience.</h1>


    <button mat-raised-button color="primary" (click)="navigateToSelectPage()">Order Coffee</button>


</div>



