.coffeeTextBody {
  padding-bottom: 40px;
}

.coffeeTextBody img {
  padding-left: 600px;
}

.coffeeTextBody h1 {
  text-align: center;
  font-size: 25px;
  padding-left: 200px;
  padding-right: 200px;
}

#coffeTextBodyBottom {
  margin-left: 900px;
}


.socialMediaTextBody h1 {
  text-align: center;
  font-size: 25px;
  margin-top: -500px;
  border-style: none;
  position: absolute;
  margin-right: 600px;
  padding: 50px 50px 50px 50px;
  color: #c6ae9d;
  background-color: #8d676a;
  opacity: 95%;
}

.socialMediaTextBodybox {
  padding-left: 600px;
  padding-right: 600px;
}


.socialMediaTextBody img {
  width: 900px;
  height: 600px;
  padding-left: 500px;

}

.socialMediaTextBodyBottomClass {
  margin-left: 900px;
  margin-top: -200px;
}


