<div class="coffeeTextBody">
  <img src="assets/pictures/kaffeforeninglogotext.png" alt="Kaffeforening Image">

  <h1>
    Kaffe Foreningen samler tre forskellige kaffebarer – Espressia Eksklusivo, AromaÆstetik og BaristaMaestro.
    Hver butik repræsenterer en unik kaffeoplevelse.
    Espressia Eksklusivo, ledet af den eventyrlystne Arturo, er et fristed for dem, der udforsker det ukendte inden for
    kaffeverdenen.
    AromaÆstetik, under designeren Isabella, forvandler kaffe til visuelle mesterværker.
    Imens tilbyder BaristaMaestro, guided af traditionelisten Carlos, en klassisk og autentisk kaffeoplevelse.
  </h1>

  <button id="coffeTextBodyBottom" mat-raised-button color="primary" (click)="navigateToSelectPage()">Bestil kaffe
  </button>
</div>


<div class="socialMediaTextBody">

  <img src="assets/pictures/socialmedia/coffesocialfrontpage.jpg" alt="socialMediaCoffeImg">

  <div class="socialMediaTextBodybox">
    <h1>
      bliv en del af vores social kaffe medie hvor du og andre kaffe elsker kan dele
      jeres helt egen kaffe kreationer med hinanden.
    </h1>
  </div>


  <div class="socialMediaTextBodyBottomClass">
    <button id="socialMediaTextBodyBottom" mat-raised-button color="primary" (click)="navigateToSelectPage()">Social
      Medie
    </button>
  </div>


</div>


