<h2 mat-dialog-title>Kurv</h2>
<mat-dialog-content
  *ngFor="let item of items">
  <h3>
    {{ item.item.name }}
    {{ item.quantity }}x

    <!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/#mat-icon-list-category-action -->
    <button class="deleteButton" mat-icon-button (click)="removeItem(item)">
      <mat-icon class="deleteIcon">delete</mat-icon>
    </button>


  </h3>
  Pris: {{ item.subTotal }} ,-


</mat-dialog-content>

<p> Total: {{ totalPriceBasket }} ,- </p>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Luk</button>
  <button mat-button (click)="clearCart()">Tøm kurv</button>
  <button mat-button mat-dialog-close routerLink="/Order">Gå til bestilling</button>
</mat-dialog-actions>
