<div class="HeaderBackgrund">
  <img class="kaffeforeninglogoClass" src="assets/pictures/kaffeforeninglogo.png" alt="KaffeforeningLogo">


<div class="headerLinksClass">
  <nav>
      <a routerLink="/Home">Home</a>
      <a routerLink="/Select">Order</a>
      <a routerLink="">Social-Medie</a>
  </nav>
</div>

<div class="HeaderProfilLogind">
  <a id="HeaderProfilLogindId" routerLink="">  <img src="assets/pictures/customer.png" alt="LogindBillede"> </a>
</div>

<router-outlet></router-outlet>
</div>
