.loginClass{
  text-align: center;
  padding: 100px 700px 100px 700px;
}
.loginBorderClass{
  border-style: outset;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #c6ae9d;
}
#passwordText{
  margin-left: -40px;
}
.loginClass label{
  padding-right: 10px;

}
.loginClass form{
  margin-left: -50px;
}
.loginButtonClass{
  padding-bottom: 20px;
}
