

<div class="loginClass">
  <div class="loginBorderClass">
    <h2>Log Ind</h2>

    <form>
      <label id="emailText" for="email">Mail:</label>
      <input type="email" id="email" name="email"><br><br>
      <label id="passwordText" for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
    </form>


      <div class="loginButtonClass">
        <button id="logindButtonId" mat-raised-button color="primary" routerLink="RegisterB">Log ind</button>
      </div>

      <div class="createLoginButtonClass">
        <button id="createLogindButtonId" mat-raised-button color="primary" routerLink="/RegisterBruger" >Opret Bruger</button>
      </div>

  </div>
</div>
